modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
EXPO_PUBLIC_CLERK_KEY = "pk_test_bWVhc3VyZWQtYWlyZWRhbGUtNjEuY2xlcmsuYWNjb3VudHMuZGV2JA"
EXPO_PUBLIC_E2B_KEY = "e2b_51e98476ce3cdfff4768678430d5527df28b169a"
EXPO_PUBLIC_OPENROUTER_KEY = "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"
EXPO_TOKEN = "FkN0j6xoxWu7mwoJ7EGYB5owAPhX9mhsqcZYNO8K"
EXPO_PUBLIC_CONVEX_URL = "https://astute-ladybug-398.convex.cloud"
CONVEX_DEPLOY_KEY = "eyJ2MiI6IjgxMjk4NjMzM2YyMjRiODFhYWQxNDAyNTY2NDI3MmY3In0="
CLERK_SECRET_KEY = "sk_test_X1Z3AawaOSfgTnrGZqhvgvhf9ooGtCuHkEz37FdBTf"
